extends layouts/base
block content
	.container
		p 
			| View x: 
			span#view-x
		p 
			| View y: 
			span#view-y
		p 
			| Center x: 
			span#center-x
		p 
			| Center y: 
			span#center-y

		p 
			| Position x: 
			span#pos-x 
		p 
			| Position y: 
			span#pos-y 
		p 
			| Percent x:  
			span#percent-x
		p 
			| Percent y:  
			span#percent-y
		